{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="myphoto">Select your own photo <p style="font-size:13px; color:rgb(177, 78, 54);">Image Size limitation</p></label>
        <input type="file" id="myphoto" name="myphoto" accept="image/*" required>
        <input type="submit" value="Register">
    </form>
{% endblock %}